* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.gameboard {
    display: flex;
    flex-wrap: wrap;
    max-width: 550px;
    margin: 0 auto;
}

.flip-container {
    perspective: 1000px;
    margin: 10px;
}
.flip-container.open .flipper, .flip-container.open .flipper {
    transform: rotateY(180deg);
}
.flip-container, .front, .back {
    width: 110px;
    height: 140px;
}
.flipper {
    transition: .6s;
    transform-style: preserve-3d;
    position: relative;
}
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    
    border: 1px solid black;
}
.front {
    z-index: 2;
    transform: rotateY(0deg);
    /* background-color: green; */
}
.back {
    /* background-color: red; */
    transform: rotateY(180deg);
}

.open {
    /* background-color: blue; */
}

.pair {
    /* background-color: pink; */
}

.score {
    position: fixed;
    font-size: 40px;
    background-color: blue;
    padding: 10px 20px;
    color: white;
}