* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.gameboard {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin: 0 auto;
}

.card {
    width: 110px;
    height: 140px;
    background-color: red;
    margin: 10px;
}